@font-face {font-family: "Radiance";src: url('fonts/radiance.ttf');font-weight: normal;font-style: normal;}
div{font-family: 'Radiance';}
div.Container .Inner
{
    background-position:top center;background-repeat:no-repeat;margin-right:auto;margin-left:auto;position:relative;
	
}
h2.ClickImage
{
    position: absolute;
    text-transform: uppercase;
    font-size: 21px;
    color: #decdad;
    font-weight: normal;
    text-align: center;
}

h1 {color:green;font-style:bold;font-size: 75px;font-family: "Radiance";padding: 25px;line-height: 34px;text-shadow: 10px 10px 10px #000000}
h2 {color:white;font-style:bold;font-size: 45px;font-family: "Radiance";padding: 15px;margin-left: 125px;line-height: 34px;text-shadow: 1px 1px 1px #000000}
h3 {color:C1C1C1;font-style:bold;font-size: 22px;font-family: "Radiance";margin-left: 100px;line-height: 34px;text-shadow: 1px 1px 1px #000000}

li {font-size: 22px;font-family: "Radiance";line-height: 34px}

ul {color:808080;font-style:bold;font-size: 22px;font-family: "Radiance";margin-left: 100px;margin-right: 50px;line-height: 34px;text-shadow: 1px 1px 1px #000000}
ul.subtab {margin-left: 0px}

p {margin-left: 50px}
p.GrayDescription{display: block;font-size: 22px;color: #999999;line-height: 36px;}

header{background-color: #000000;padding: 50px;color: white;text-align: center;background-repeat: repeat-y;}
.Container {background-position:top center;background-repeat:no-repeat;margin-right:auto;margin-left:auto;position:relative;}
.Content {background-position:top center;background-repeat:no-repeat;margin-right:auto;margin-left:auto;position:relative;width:1500px;}

div.headingbox_patchhistory{background-image:linear-gradient(to right,#00AA00,green);padding: 25px;;margin: 50px 25px 0px 25px;width:250px;}

div.headingbox_generalchanges {background-image:linear-gradient(to right,#00AA00,green);padding: 25px;margin: 50px 25px 0px 25px;width:390px;}
div.headingbox_items{background-image:linear-gradient(to right,#00AA00,green);padding: 25px;margin: 50px 25px 0px 25px;width:120px;}
div.headingbox_heroes{background-image:linear-gradient(to right,#00AA00,green);padding: 25px;;margin: 50px 25px 0px 25px;width:150px;}
div.transbox {background: rgba(0,0,0,0.6);margin-left: 160px;margin-right: 160px;padding: 10px;margin-top: 10px;margin-bot: 10px;}
div.transbox figure{margin-bot: 100px;}

body {background-image: url("images/background_main.jpg");background-repeat: repeat-y;background-color: #151618;background-position:center;}

a:link {color: green;}
a:visited {color: green;}
a{text-decoration: none;color:green;font-style:bold;font-size: 25px;font-family: "Radiance";line-height: 34px;text-shadow: 1px 1px 1px #000000}

#Container_Title, #Content_Title{background-image: url("images/116/Container_Title.png");height:500px;background-color: #000000;}

#BG01, #BG01.Inner{background-image: url("images/116/BG01.png");height:861px;background-color: #151618;}
#BG01 h2 {position: absolute;top: 200px;left: 0px;font-family: 'Radiance';font-size: 100px;color: #D8E6DC;text-transform: uppercase;letter-spacing: 3.6px;text-shadow: 4px 4px black}

#BG02, #BG02.Inner{background-image: url("images/116/BG02.png");height:1400px;background-color: #151618;}
#BG02 video {position: absolute;top: 100;left: 75px;visibility: collapse;height:500px;}
#BG02 .ButtonIconContainer{position: absolute;top: 650px;left: 175px;}
#BG02 a.ButtonIcon{display: block;width: 100px;height: 100px;float: left;margin-right: 100px;}
#BG02 .LargeIcon {position: absolute;top: 875px;left: 10px;width: 200px;height: 200px;}
#BG02 h2 {position: absolute;top: 875px;left: 125px;font-family: 'Radiance';font-size: 36px;color: #D8E6DC;text-transform: uppercase;letter-spacing: 3.6px;text-shadow: 0px 0px 50px rgba( 0, 255, 0, 1.62 );visibility: collapse;}
#BG02 p {position: absolute;top: 950px;left: 275px;width: 650px;font-size: 25px;line-height: 35px;visibility: collapse;}

#BG02.QActive .ButtonIcon.Q { background-image: url("images/116/TotemCarverQ.jpg"); cursor: default; }
#BG02.WActive .ButtonIcon.W { background-image: url("images/116/TotemCarverW.jpg"); cursor: default; }
#BG02.EActive .ButtonIcon.E { background-image: url("images/116/TotemCarverE.jpg"); cursor: default; }
#BG02.RActive .ButtonIcon.R { background-image: url("images/116/TotemCarverR.jpg"); cursor: default; }

#BG02:not(.QActive) .ButtonIcon:hover.Q { background-image: url("images/116/TotemCarverQ.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}
#BG02:not(.WActive) .ButtonIcon:hover.W { background-image: url("images/116/TotemCarverW.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}
#BG02:not(.EActive) .ButtonIcon:hover.E { background-image: url("images/116/TotemCarverE.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}
#BG02:not(.RActive) .ButtonIcon:hover.R { background-image: url("images/116/TotemCarverR.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}

#BG02.QActive .LargeIcon {background-image: url("images/116/TotemCarverQLarge.jpg");}
#BG02.WActive .LargeIcon {background-image: url("images/116/TotemCarverWLarge.jpg");}
#BG02.EActive .LargeIcon {background-image: url("images/116/TotemCarverELarge.jpg");}
#BG02.RActive .LargeIcon {background-image: url("images/116/TotemCarverRLarge.jpg");}

#BG02.QActive video.Q { visibility: visible; }
#BG02.WActive video.W { visibility: visible; }
#BG02.EActive video.E { visibility: visible; }
#BG02.RActive video.R { visibility: visible; }

#BG02.QActive h2.Q { visibility: visible; }
#BG02.WActive h2.W { visibility: visible; }
#BG02.EActive h2.E { visibility: visible; }
#BG02.RActive h2.R { visibility: visible; }

#BG02.QActive p.Q { visibility: visible; }
#BG02.WActive p.W { visibility: visible; }
#BG02.EActive p.E { visibility: visible; }
#BG02.RActive p.R { visibility: visible; }

/* <> */
#BG03, #BG03.Inner{background-image: url("images/116/BG03.png");height:861px;background-color: #151618;}
#BG03 h2 {position: absolute;top: 100px;left: 0px;font-family: 'Radiance';font-size: 100px;color: #D8E6DC;text-transform: uppercase;letter-spacing: 3.6px;text-shadow: 4px 4px black}

/* <> */
#BG04, #BG04.Inner{background-image: url("images/116/BG04.png");height:1100px;background-color: #151618;}
#BG04 .ButtonIconContainer{position: absolute;top: 140px;left: 175px;}
#BG04 a.ButtonIcon{display: block;width: 100px;height: 100px;float: left;margin-right: 100px;}
#BG04 .LargeIcon {position: absolute;top: 400px;left: 10px;width: 200px;height: 200px;}
#BG04 h2 {position: absolute;top: 400px;left: 125px;font-family: 'Radiance';font-size: 36px;color: #D8E6DC;text-transform: uppercase;letter-spacing: 3.6px;text-shadow: 0px 0px 50px rgba( 0, 255, 0, 1.62 );visibility: collapse;}
#BG04 p {position: absolute;top: 475px;left: 275px;width: 650px;font-size: 25px;line-height: 35px;visibility: collapse;}

#BG04.QActive .ButtonIcon.Q { background-image: url("images/116/ValkyrieQ.jpg"); cursor: default; }
#BG04.WActive .ButtonIcon.W { background-image: url("images/116/ValkyrieW.jpg"); cursor: default; }
#BG04.EActive .ButtonIcon.E { background-image: url("images/116/ValkyrieE.jpg"); cursor: default; }
#BG04.RActive .ButtonIcon.R { background-image: url("images/116/ValkyrieR.jpg"); cursor: default; }

#BG04:not(.QActive) .ButtonIcon:hover.Q { background-image: url("images/116/ValkyrieQ.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}
#BG04:not(.WActive) .ButtonIcon:hover.W { background-image: url("images/116/ValkyrieW.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}
#BG04:not(.EActive) .ButtonIcon:hover.E { background-image: url("images/116/ValkyrieE.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}
#BG04:not(.RActive) .ButtonIcon:hover.R { background-image: url("images/116/ValkyrieR.jpg"); box-shadow: 0px 0px 10px rgba( 0, 255, 0, 0.5 );}

#BG04.QActive .LargeIcon {background-image: url("images/116/ValkyrieQLarge.jpg");}
#BG04.WActive .LargeIcon {background-image: url("images/116/ValkyrieWLarge.jpg");}
#BG04.EActive .LargeIcon {background-image: url("images/116/ValkyrieELarge.jpg");}
#BG04.RActive .LargeIcon {background-image: url("images/116/ValkyrieRLarge.jpg");}

#BG04.QActive h2.Q { visibility: visible; }
#BG04.WActive h2.W { visibility: visible; }
#BG04.EActive h2.E { visibility: visible; }
#BG04.RActive h2.R { visibility: visible; }

#BG04.QActive p.Q { visibility: visible; }
#BG04.WActive p.W { visibility: visible; }
#BG04.EActive p.E { visibility: visible; }
#BG04.RActive p.R { visibility: visible; }
