/* 1.18 IMAGE COMPARISON */
* {box-sizing: border-box;}
  .img-comp-container1 {
    position: absolute;top: 250;left: 350px;
    height: 432px; /*should be the same height as the images*/
  }
  .img-comp-container2 {
    position: absolute;top: 750;left: 350px;
    height: 432px; /*should be the same height as the images*/
  }
  .img-comp-container3 {
    position: absolute;top: 1250;left: 350px;
    height: 432px; /*should be the same height as the images*/
  }
  .img-comp-container4 {
    position: absolute;top: 1750;left: 350px;
    height: 432px; /*should be the same height as the images*/
  }
  .img-comp-container5 {
    position: absolute;top: 2250;left: 350px;
    height: 432px; /*should be the same height as the images*/
  }
  .img-comp-container6 {
    position: absolute;top: 2750;left: 350px;
    height: 432px; /*should be the same height as the images*/
  }
  
  div.headingbox_mapchanges {background-image:linear-gradient(to right,#00AA00,green);padding: 25px;margin: 50px 25px 0px 25px;width:350px;position: absolute;top:50;left: 200px}

  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow:hidden;
  }
  
  .img-comp-img img {
    display:block;
    vertical-align: middle;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 75px;
    height: 75px;
    background-color: green;
    opacity: 2.0;
    border-radius: 50%;
  }
  
  #BG01, #BG01.Inner{height:3200px}